.header {
    padding: 15px;
    background-color: #005;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header p {
    margin: 0;
    font-size: 16px;
    color: #fffff2;
    font-weight: bold;
}

.header button {
    color: #fffff2;
}
